[
  {1,
    {
      {mcht_quota_txn, 100000, unlimited, unlimited}
      , {mcht_quota_monthly, 1000000, unlimited, unlimited}
    }
  },
  {2,
    {
      {mcht_quota_txn, unlimited, unlimited, 2000}
      , {mcht_quota_monthly, unlimited, unlimited, 100}
    }
  },
  {11,
    {
      {mcht_quota_txn, unlimited, unlimited, 2000000}
      , {mcht_quota_monthly, unlimited, unlimited, 100000000}
    }
  }

].